body {
    font-size: 0.9rem;
    transition: background-color 0.3s, color 0.3s;
}
.header {
    border-bottom: 1px solid;
}
.category-title {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1px;
}
.status-indicator.red {
    background-color: red;
}
.status-indicator.green {
    background-color: green;
}
#themeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1030;
}
/* Темная тема */
body.dark-theme {
    background-color: #333;
    color: #f8f9fa;
}
.dark-theme .header {
    background-color: #222;
    border-color: #444;
}
.dark-theme .card {
    background-color: #444;
    border-color: #555;
}
.dark-theme .card-header {
    background-color: #333;
    border-color: #555;
}
.dark-theme .btn-outline-success,
.dark-theme .btn-outline-danger,
.dark-theme .btn-outline-secondary {
    color: #f8f9fa;
}

.badge{
    margin-left: 6px;
    margin-right: 6px;
}

.bg-primary{
    background-color: darkblue;
}
.info-button {
    margin-left: 10px;
}
.info-panel {
    position: fixed;
    top: 0;
    right: -50vw;
    width: 50vw;
    min-width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    transition: right 0.3s;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    margin-top: 62px;
    display: none;
    z-index: 1;
}
.info-panel.active {
    right: 0;
    display: block;
}
.info-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.close-panel {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    right: 0px;
    top: 0px;
    position: absolute;
}
.dark-theme .info-panel {
    background-color: #444;
    color: #f8f9fa;
}